$maxSize:1600px;
$headerSize:80px;
$orange:#F9804B;
$yellow:#FFEE2E;
body{
    font-family: 'Roboto';
    font-style: normal;
}
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
[aria-current="current"] {
    pointer-events: none;
    cursor: default;
    text-decoration: none;
    color: black;
}

.btn-round{
    width:298px;
    height:54px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    cursor:pointer;
    p{
        text-align: center;
        font-weight: 500;
        font-size: 16px;
        line-height: 54px;
        text-transform: uppercase;
        color: #FFFFFF;
    }
    &:hover{
        background: #E47209;
    }
    &:active{
        background: #4B9200;
    }
    &:disabled{
        background: #767474;
    }
}
.btn-square{
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 5px;
    width: 298px;
    height: 54px;
    text-align: center;
    cursor:pointer;
    p{

        text-transform: uppercase;
        font-weight: 500;
        font-size: 16px;
        line-height: 54px;
        color:#fff;
    }
    &:hover{
        background: #E47209;
    }
    &:active{
        background: #4B9200;
    }
    &:disabled{
        background: #767474;
    }
}

.navigator{
    background-color: #000;

    margin: 0 auto;
    
    width:100vw;
    height:$headerSize;
    z-index: 2;
    position: relative;
    nav{
       
        
        
        ul{
            
            @media (min-width:1599px){
                width: ($maxSize - 440px);
                margin:0 auto;
                
                li:nth-child(2){
                    margin-left:53px
                }
                li{
                    margin-left:58px;
                }
            }
            @media (max-width:1000px) {
                width: 960px;
                li:nth-child(1){
                    margin:0 0 0 30px;
                }
                li:nth-child(2){
                    margin-left:63px
                }
                li{
                    margin-left:48px;
                }
            }
             
            font-weight: 500;
            color: #fff;
            height:$headerSize;
            display:flex;
            
            align-items: center;
            
            li:nth-last-child(1){
                margin-left:auto;
            }
            
            li{
                list-style: none;
               
                .selectedAnchor{
                    color:$orange;
                }
                &:hover{
                    a{
                        color:$orange;
                    }
                }
                a{
                    line-height: 22.4px;
                    color: inherit;
                    text-decoration: none;
                }
                font-size:16px;
            }
            
        }
    }
}

// firstSection

.firstSection{
    width:100vw;
    max-width: $maxSize;
    margin: 0 auto;
    position: relative;
    .backgroundImage{
       
        width:100%;
        
        @media (min-width:1599px) {
            height:700px;
            background: url('../../assets/images/G_panda.jpg') 0 -80px no-repeat;
        }
        @media (max-width:1000px) {
            height:584px;
            background: url('../../assets/images/G_panda.jpg') -280px -80px no-repeat;
        }
    }
    .content{
        position: absolute;
        
        
        
        @media (min-width:1599px) {
            right:328px;
            top:12px;
            z-index: 3;
        }
        @media (max-width:1000px) {
            right:177px;
            top:-12px;
            z-index: 1;
        }
        .circle{
            
            background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
            border-radius: 50%;
            @media (min-width:1599px) {
                width: 465px;
                height: 465px;
                h1{
                    font-size: 106.496px;
                }
            }
            @media (max-width:1000px) {
                width: 367px;
                height: 367px;
                h1{
                    font-size: 85px;
                }
                
            }

            h1{
                margin:0;
                padding: 74px 0 0 73px;
                text-transform: uppercase;
                font-family: 'Roboto';
                line-height: 75%;
                text-align: center;
                font-weight: 700;
                font-style: normal;
                color:#fff;
                width: 500.31px;
                
                span{
                    color:$yellow;
                }
            }
            
        }
        .WO{
            margin:76px 0 0 auto;
        }
    }
}

// /firstSection

// secondSection

.secondSection{
    width:100vw;
    max-width: $maxSize;
    @media (min-width:1599px){
        padding:100px 140px 140px 138px;
    }
    @media (max-width:1000px){
        padding:100px 0 0 0;
    }
    
    margin:0 auto;
    position: relative;
    .buttonChangeList-left, .buttonChangeList-right{
        cursor: pointer;
        width:62px;
        height:62px;
    }
    .buttonChangeList-left{
        background-image: url('../../assets/icons/arrowLeftYellow.png');
        &:active{
            background-image: url('../../assets/icons/arrowLeftGreen.png');
        }
        @media (max-width:1000px){
            position: absolute;
            left:50%;
            transform: translateX(-200%);
        }
    }
    .buttonChangeList-right{
        background-image: url('../../assets/icons/arrowRightYellow.png');
        &:active{
            background-image: url('../../assets/icons/arrowRightGreen.png');
        }
        @media (max-width:1000px){
            position: absolute;
            left:50%;
            transform: translateX(100%);
        }
    }
    .CYF{
        margin:86px auto 0 auto;
    }
    .content{

        @media (min-width:1599px){
            width:1322px;
            
        }
        @media (max-width:1000px){
            width:940px;
        }
        margin:0 auto;
        .top{
            @media (min-width:1599px){
                width:1161px;
                margin:0 auto;
            }
            @media (max-width:1000px){
                width:940px;
                margin:0 30px;
            }
            
            display: flex;
            justify-content: space-between;
            .right{
                color:#333B41;
                h2,h3,p{
                    max-width: 465px;

                    font-weight: 400;
                    margin:0;
                }
                h2{
                    font-size: 48px;
                    line-height: 120%;
                }
                p:nth-child(2){
                    font-size: 16px;
                    line-height: 130%;
                    margin-top:20px;
                }
                p:nth-child(3){
                    font-size: 24px;
                    line-height: 120%;
                    margin-top:54px;
                }
                p:nth-child(4){
                    font-size: 16px;
                    line-height: 140%;
                    margin-top:34px;
                }
            }
            .left{
                @media (min-width:1599px){
                    img{
                        width:609px;

                    }
                }
                @media (max-width:1000px){
                    img{
                        width:455px;
                        height:408px;
                    }
                }
            }
        }

        .animalsContainer{
            @media (min-width:1599px){
                width:1322px;
                margin:180px auto 0 auto;
            }
            @media (max-width:1000px){
                width:941px;
                margin:142px 0 0 0;
            }
            
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;


        .content {

            @media (min-width:1599px){
                width:1158px;
            }
            @media (max-width:1000px){
                width:941px;
            }

            margin: 0 auto;
            
            display:grid;
            grid-template-columns: repeat(3,1fr);
            @media (min-width:1599px){
            
                column-gap: 30px;
                row-gap: 20px;
            }

            @media (max-width:1000px){
            
                column-gap: 29px;
                row-gap: 92px;
            }
            
            
            .animal{
                border-radius: 5px;
                border:1px solid #FA6F32;
                @media (min-width:1599px){
                        .picture {
                            img{
                                width:366px;
                                height:369px;
                            }
                        }
                }
                @media (min-width:1000px){
                    width:296px;
                            height:354px;
                        .picture {
                            width:294px;
                            height:294px;
                            img{

                                width:294px;
                                height:294px;
                            }
                        }
                }
                .details{
                    @media (min-width:1599px){

                        width:338px;
                        margin:8px auto;
                    }
                    @media (max-width:1000px){

                        width:264px;
                        margin:8px 16px;
                    }
                    height: 39px;
                    
                    display: flex;
                    justify-content: space-between;
                    .left{
                        p:nth-child(1){
                            text-transform: uppercase;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 140%;
                        }
                        p:nth-child(2){
                            font-weight: 300;
                            font-size: 15px;
                            line-height: 120%;
                        }
                    }
                }
            }
        }
    }


    }

    .flowersAbsolute{
        div{
            position: absolute;
        }
        div:nth-child(1){
            
            @media (min-width:1599px){
                top:0;
            right:0;
            }
            @media (max-width:1000px){
                display: none;
            }
        }
        div:nth-child(2){
            bottom:-3px;
            left:0;
        }
        div:nth-child(3){
            bottom:-3px;
            right:0;
        }
    }
}



// /secondSection

// thirdSection

.thirdSection{

    width:100vw;
    max-width: $maxSize;
    margin:0 auto;
    height:1004px;
    padding: 69px 0 0 0;
    background:linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
    .contentContainer{
        width:1160px;
        height:835px;
        margin:0 auto;
        background: rgba(253, 253, 255, 0.52);
        border-radius: 20px;
        .top{
            padding: 41px 0 0 99px;
            h2{
                font-weight: 400;
                font-size: 48px;
                line-height: 58px;
                text-align: center;

                color: #FE9013;
            }

            h3{
                margin: 30px 0 0 0;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                max-width: 844px;

                color: #333B41;
            }

            p:nth-child(3){
                margin: 40px 0 0 0;
                font-weight: 500;
                font-size: 16px;
                line-height: 21px;
                color: #333B41;
                max-width: 1061px;
            }
            p:nth-child(4){
                margin: 10px 0 0 0;
                font-weight: 400;
                font-size: 16px;
                line-height: 21px;
                color: #333B41;
                max-width: 863px;
                a{
                    text-decoration: none;
                    color: #333B41;
                    border-bottom: 1px solid #FE9013;
                }
            }
        }

        .middle{
            h2{
                margin:60px 0 40px 0;
                text-align: center;
                font-weight: 400;
                font-size: 36px;
                line-height: 47px;

                color: #333B41;

            }

            .content{
                width:764px;
                margin:0 auto;
                display: flex;
                justify-content: space-between;

                .step{
                    .picture{
                        width: 168px;
                        height: 168px;
                        
                        background: #FFFFFF;
                        border-radius: 5px;
                        display: flex;
                        justify-content:center;
                        align-items: center;

                    }

                    p{
                        margin: 30px 0 0 0;
                        font-weight: 400;
                        font-size: 16px;
                        line-height: 22px;
                        color: #333B41;
                        max-width:168px;
                    }

                    
                }

                .arrowRight{
                    margin:60px 0 0 0;
                }
            }

            
        }

        .FFN{
            margin:60px auto 0 auto;
            a{
                color:white;
                text-decoration: none;
            }
        }
    }
}
// /thirdSection

// fourthSection

.fourthSection{
    width:100vw;
    max-width: $maxSize;
    margin: 0 auto;
    height:919px;
    position: relative;
    .picture{
        position: absolute;
        bottom: -109px;
        right:0;
    }
    .contentContainer{
        width:1160px;
        height:575px;
        margin:0 auto;
        .content{
            h2{
                font-weight: 400;
                font-size: 36px;
                line-height: 47px;
                text-align: center;

                color: #333B41;
            }


            .carousele{
                margin:47px 0 39px 0;
                overflow-x:hidden;
                .items{
                    padding: 0 0 21px 0;
                    overflow-x: scroll;
                    display: flex;
                    
                    min-width: 1162px;

                    .item:not(.item:nth-last-child(1)){
                        margin-right:30px;
                    }

                    .item{
                        flex: 0 0 268px;
                        padding: 15px 16px;
                        border-style: solid;
                        background: #F1F3F2;
                        width:268px;
                        height:391px;

                        border: double 2px transparent;
                        border-radius: 20px;
                        background-image: linear-gradient(white, white), radial-gradient(circle at bottom right,
                            #FEBDAB 74%,
                            #F3A9F8 66%,
                            #E0D8F0 100%,
                            #EAF7FE 100%,
                            #EAF7FE 100%
                         );
                        background-origin: border-box;
                        background-clip: padding-box, border-box;

                        .top{
                            display: flex;
                            justify-content: flex-start;
                            .details{
                                margin:0 0 0 10px;
                                p:nth-child(1){
                                    font-weight: 400;
                                    font-size: 16px;
                                    line-height: 19px;
                                    color: #000000;
                                }
                                p:nth-child(2),span{
                                    font-weight: 300;
                                    font-size: 15px;
                                    line-height: 18px;
                                    color: #BDBDBD;
                                    float: left;
                                }
                                span{
                                    margin:0 0 0 6px;
                                    &::before{
                                        content: "• ";
                                    }
                                }
                            }
                        }
                        .bottom{
                            margin:11px 0 0 0;
                            p{
                                max-width: 237px;
                                font-weight: 300;
                                font-size: 15px;
                                line-height: 18px;
                                color: #767474;
                            }
                        }
                    }
                }
            }
        }
    }
}

// /fourthSection

// footer


footer{
    width:100vw;
    height:443px;
    margin:0 auto;
    max-width: $maxSize;
    padding-top: 41px;
    padding-bottom: 50px;
    background-color: #111115;
    .content{
        width:1160px;
        margin:0px auto 0 auto;
        height:352px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        color:#fff;
        ul{
            li{
                list-style: none;
                font-weight: 400;
                font-size: 16px;
                a{
                    text-decoration: none;
                    color:#fff;
                }
            }
        }

        .left{
            .DFV{
                margin:68px 0 44px 0;
                a{
                    text-decoration: none;
                    color:#fff;
                }
            }

            .socialNetworks{
                li{
                    width:26px;
                    height:26px;

                    a{
                        margin: 0 0 0 38px;
                        line-height: 26px;
                        text-transform: capitalize;
                    }
                }
                li:not(li:nth-child(1)){
                    margin:10px 0 0 0;
                }
                li:nth-child(1){
                    
                    background: url('../../assets/icons/social_network.png') 0 0;
                }

                li:nth-child(2){
                    background: url('../../assets/icons/social_network.png') 138px 0;
                }

                li:nth-child(3){
                    background: url('../../assets/icons/social_network.png') 82px 0;
                }

                li:nth-child(4){
                    background: url('../../assets/icons/social_network.png') -168px 0;
                }
            }
        }

        .middle{
            display: flex;
            flex-direction: row;
            align-items: flex-end;
            ul{
                display: flex;
                width:362px;
                justify-content: space-between;
                text-transform: capitalize;
                li{
                    .selectedAnchor{
                        color:#F9804B;
                    }
                    a{
                        &:hover{
                            color:#F9804B;
                        }
                    }
                }
            }
        }

        .right{
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            .top{
                p:nth-child(1){
                    font-weight: 400;
                    font-size: 24px;
                }
                form{
                    margin:14px 0 0 0;
                    input{
                        outline: none;
                    }
                    input:nth-child(1){
                        width:228px;
                        height:42px;
                        border:1px solid $orange;
                        background-color: transparent;
                        padding: 10px;
                        font-weight: 400;
                        font-size: 16px;
                        color:#BDBDBD;
                        &[placeholder]{
                            color:#BDBDBD;

                        }
                        
                    }

                    input:nth-child(1){
                        &:active{
                            border: 0.7px solid #4B9200;
                            border-radius: 2px;
                        }
                        &:valid{
                            .top > form > input:nth-child(2){
                                color: #4B9200;
                                border: 1px solid #4B9200;
                            }
                        }
                        &:invalid{
                            .top > form > input:nth-child(2){
                                color: #D31414;
                                border: 1px solid #D31414;
                            }
                        }
                    }

                    input:nth-child(2){
                        border:none;
                        margin-left:10px;
                        width:129px;
                        border-radius:5px;
                        background-color: #F1F3F2;
                        height:42px;
                        text-align: center;

                        font-weight: 400;
                        font-size: 16px;
                        line-height: 42px;
                        


                    }
                }
            }

            .bottom{
                p{
                    text-align: right;
                    font-weight: 100;
                    font-size: 16px;
                    margin-top:10px;
                }
            }
        }

    }
}

// /footer